@media (max-width: 600px) {
  .header {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .header .header_container {
    width: 370px;
    position: relative;
  }
  .header .header_container .logo_section {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 29px;
    height: 29px;
  }
  .header .header_container .logo_section img {
    width: 100%;
  }
  .header .header_container .search_section .search_info {
    width: 325px;
    height: 49px;
    border-radius: 50px;
    border: 1px solid #0096D6;
    font-size: 14px;
    font-weight: 500;
  }
  .header .header_container .search_section .search_info input {
    border: none;
    margin-left: 59px;
    box-sizing: border-box;
  }
  .header .header_container .search_section .search_info .glasses_section {
    width: 45px;
    height: 20px;
  }
  .header .header_container .search_section .search_info .glasses_section img {
    width: 100%;
  }
  .header .header_container .menu {
    display: none;
  }
  .header .menu_bar {
    display: none;
  }
  .main_img_section {
    margin-top: 16px;
    height: 171px;
  }
  .main_img_section .main_img_title_sectioin {
    position: absolute;
    top: 48px;
    left: 15px;
  }
  .main_img_section .main_img_title_sectioin .main_img_title_1 {
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;
  }
  .main_img_section .main_img_title_sectioin .main_img_title_2 {
    margin-top: 10px;
    font-size: 11px;
    font-weight: 900;
    line-height: 11px;
  }
  .main_img_section .main_img_arrow {
    display: none;
  }
  .main_img_section .main_img img {
    height: 171px;
  }
  .main_img_section .main_img_order_mobile {
    display: block;
    margin-top: 11px;
    position: absolute;
    bottom: 11px;
    display: flex;
    justify-content: center;
    gap: 6px;
  }
  .main_img_section .main_img_order_mobile li {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
  }
  .body_contents .recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E0EDF2;
  }
  .body_contents .recommend .recommend_section .recommend_selection {
    width: 375px;
    padding-top: 53px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_title {
    font-size: 17px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_title .more_watching {
    font-size: 13px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu {
    display: flex;
    width: 375px;
    justify-content: space-between;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu .rc_item {
    width: 90px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu .rc_item .rc_img_section {
    width: 61px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #fff;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu .rc_item .rc_img_section .rc_img {
    width: 34px;
    height: 26px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu .rc_item .rc_img_section .rc_img img {
    width: 100%;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu .rc_item .rc_item_title {
    margin-top: 3px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin {
    width: 375px;
    flex-direction: column;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item {
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_selection_number {
    font-size: 15px;
    font-weight: 700;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_img {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 159PX;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_img img {
    width: 69px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_title {
    font-size: 14px;
    font-weight: 900;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_content {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 500;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section {
    margin-top: 11px;
    display: flex;
    gap: 5px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section .rc_selection_contents_price_percent {
    font-size: 13px;
    font-weight: 500;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section .rc_selection_contents_price {
    font-size: 13px;
    font-weight: 900;
  }
}/*# sourceMappingURL=portfolio_mobile.css.map */