@media (max-width: 600px) {

    .header {
        padding-top: 56px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        .header_container {
            // width: 370px;
            width: 100%;
            // padding-left: 10px;
            // padding-right: 10px;
            // box-sizing: border-box;
            position: relative;

            // overflow: auto; (넘쳐 흐르는 거 안보이게 하는 거)
            // width: 360px;
            .iphon_upper_img {
                display: none;
                // width: 100%;
            }

            .logo_section {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 29px;
                height: 29px;

                img {
                    width: 100%;
                }

            }

            .search_section {

                .search_info {
                    width: 100%;
                    height: 49px;
                    border-radius: 50px;
                    border: 1px solid #0096D6;
                    font-size: 14px;
                    font-weight: 500;

                    input {
                        border: none;
                        // padding-top: 16px;
                        margin-left: 49px;
                        box-sizing: border-box;
                    }

                    .glasses_section {
                        width: 45px;
                        height: 20px;
                        padding-top: initial;

                        img {
                            width: 100%;
                        }

                        ;
                    }
                }


            }

            .menu {
                display: none;
            }
        }

        .menu_bar {
            display: none;
        }


    }

    .main_img_section {
        margin-top: 16px;
        height: 171px;

        .main_img_title_sectioin {
            position: absolute;
            top: 48px;
            left: 15px;
            width: initial;

            .main_img_title_1 {
                font-size: 13px;
                font-weight: 800;
                line-height: 10px;
            }

            .main_img_title_2 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 900;
                line-height: 11px;

            }

        }

        .main_img_arrow {
            display: none;
        }

        .main_img {

            img {
                height: 171px;
            }
        }

        .main_img_order_mobile {
            display: block;
            margin-top: 11px;
            position: absolute;
            bottom: 11px;

            display: flex;
            justify-content: center;
            gap: 6px;

            li {
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #fff;
            }

        }
    }


    // }
    .body_contents {

        .recommend {
            display: block;
            background-color: initial;
            margin-top: initial;

            .recommend_section {
                // width: 100%;
                padding: 50px 10px 50px;

                .recommend_selection {
                    width: 100%;
                    padding: initial;
                    // padding-top: 53px;
                    // padding-bottom: 51px;

                    .recommend_title {
                        font-size: 17px;
                        width: 100%;
                        // padding: 10px 10px 0px;

                        .rc_more_watching {
                            font-size: 13px;
                            gap: 5px;

                        }
                    }

                    .recommend_menu_container {
                        width: 100%;
                        overflow: auto;

                        .recommend_menu {
                            display: inline-flex;
                            width: 100%;
                            justify-content: space-between;
                            gap: 10px;



                            .rc_item {
                                // width: 90px;
                                width: 61px;

                                .rc_img_section {
                                    width: 61px;
                                    height: 40px;
                                    border-radius: 20px;
                                    border: 2px solid #E8E8E8;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 40px;
                                    background-color: #fff;

                                    .rc_img {
                                        width: 34px;
                                        height: 26px;

                                        img {
                                            width: 100%;
                                        }

                                    }
                                }

                                .rc_img_section:hover {
                                    background-color: #98d8f1;
                                    // box-shadow: 0px 4px 4px rgba($color: #333332, $alpha: 0.2);
                                }

                                .rc_item_title {

                                    margin-top: 3px;
                                    text-align: center;
                                    font-size: 11px;
                                    font-weight: 500;
                                    color: #363636;
                                }

                            }

                        }
                    }

                    .recommend_menu_container::-webkit-scrollbar {
                        display: none;
                        /* Chrome, Safari, Opera */
                    }

                    .recommend_selection_item_sectioin {
                        width: 100%;
                        // margin-top: 33px;
                        // display: flex;
                        // gap: 20px;
                        flex-direction: column;
                        gap: initial;
                        padding: initial;

                        .recommend_selection_item {
                            // width: 327px;
                            height: initial;
                            width: 100%;
                            background-color: #fff;
                            padding-top: 25px;
                            padding-left: 20px;
                            padding-right: 10px;
                            padding-bottom: 25px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            border-bottom: 1px solid #d3d3d3;
                            position: relative;

                            .rc_selection_number {
                                font-size: 15px;
                                font-weight: 700;
                                position: absolute;
                                top: 25px;
                            }

                            .rc_img_contents_container {
                                display: flex;
                                padding-left: 15px;

                                .rc_selection_img {
                                    margin-top: 0px;
                                    width: 80px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    height: initial;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .rc_selection_contents {
                                    margin-left: 25px;

                                    .rc_selection_contents_title {
                                        margin-top: initial;
                                        font-size: 14px;
                                        font-weight: 700;
                                    }

                                    .rc_selection_contents_title_model_name {}

                                    .rc_selection_contents_content {
                                        margin-top: 11px;
                                        font-size: 12px;
                                        font-weight: 500;
                                    }

                                    .rc_selection_contents_price_section {
                                        margin-top: 11px;
                                        display: flex;
                                        gap: 5px;
                                        color: #FF0000;
                                        font-size: 13px;
                                        line-height: 13px;

                                        .rc_selection_contents_price_percent {


                                            font-weight: 500;
                                        }

                                        .rc_selection_contents_price {


                                            font-weight: 900;
                                        }
                                    }
                                }
                            }
                        }

                        .btn_more {
                            display: block;

                        }
                    }

                    .recommend_selection_item:nth-child(5) {
                        display: block;
                    }

                    .rc_bar_section {
                        display: none;


                        .rc_whole_bar {
                            // width: initial;
                            width: 100%;


                            .rc_selection_bar {

                                width: initial;

                            }
                        }


                    }

                    .rc_button_section {
                        display: flex;
                        justify-content: center;
                        gap: 10px;

                        .rc_btn_more {
                            display: block;
                            height: 40px;
                            font-size: 14px;
                            padding: 0 24px 0 24px;
                            margin: 24px auto 0 auto;
                            border: 1px solid #000;
                            border-radius: 30px;
                            font-weight: 700;
                            background-color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                }
            }


        }

        .various_benefits {


            .various_benefits_section {
                width: 100%;
                padding: 0px 10px 50px;

                // padding-top: initial;
                // padding-bottom: 50px;
                .various_benefits__container {
                    width: 100%;

                    .various_benefits_title {
                        font-size: 17px;

                        // padding: 10px 10px 0px;
                        .more_watching {
                            font-size: 13px;
                            font-weight: 500;
                            color: #989898;
                            display: flex;
                            gap: 5px;
                        }
                    }

                    .various_benefits_selection_container {
                        width: 100%;
                        overflow: auto;

                        .various_benefits_selection {
                            width: 100%;
                            display: inline-flex;
                            gap: 10px;

                            .various_benefits_item {
                                .various_benefits_img_section {


                                    img {
                                        width: 100%;
                                    }

                                }

                                .various_benefits_item_title {
                                    font-size: 15px;
                                    line-height: 15px;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }

                    .various_benefits_selection_container::-webkit-scrollbar {
                        display: none;
                        /* Chrome, Safari, Opera */
                    }

                    .various_benefits_bar_section {
                        margin-top: 30px;

                        .various_benefits_whole_bar {
                            width: 100%;
                            height: 7px;
                            background-color: #E5E5E5;
                            border-radius: 30px;

                            .various_benefits_selection_bar {
                                width: 109px;
                                height: 7px;
                                background-color: #B5B5B5;
                                border-radius: 30px;

                            }
                        }
                    }

                }
            }
        }

        .Banner {

            display: flex;
            justify-content: center;
            align-items: center;

            .banner_section {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0 10px 0;

                img {
                    width: 100%;
                    border-radius: 5px;
                }

            }
        }


        .Promotion {


            .promotion_section {
                width: 100%;
                padding: 50px 10px 50px;
                box-sizing: border-box;

                .promotion_title {
                    // padding: 0 10px 0;
                    font-size: 17px;
                    font-weight: 700;

                    .more_watching {
                        font-size: 13px;
                        font-weight: 500;
                        color: #989898;
                        display: flex;
                        gap: 5px;
                    }
                }

                .promotion_img_section {
                    display: block;
                    justify-content: space-between;
                    margin-top: 20px;
                    width: 100%;

                    .promotion_img_item_left {
                        width: 100%;
                        border-radius: 10px;

                        img {
                            width: 100%;
                        }

                    }

                    .promotion_img_item_right {
                        .promotion_img_item {


                            .promotion_img_item_right_img {
                                width: 30%;

                                img {
                                    width: 100%;
                                }
                            }



                            img {}

                            .promotion_item_contents {
                                text-align: left;

                                .pr_i_con_title {
                                    font-size: 13px;
                                    font-weight: 700;
                                    line-height: 13px;
                                    letter-spacing: -0.25px;
                                    margin-top: 23px;
                                }

                                .pr_i_con_original_price {
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 26px;
                                }

                                .pr_i_con_sale_rate {
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 26px;
                                    margin-top: 15px;

                                }

                                .pr_i_con_sale_price {
                                    font-size: 16px;
                                    font-weight: 800;
                                    line-height: 16px;
                                    color: #FF0000;

                                }
                            }
                        }

                        .promotion_img_item:nth-child(1) {
                            margin-top: 10.75px;
                        }
                    }

                }
            }
        }

        .LatestProductNews {
            padding: initial;

            .latest_product_news_section {
                background-color: #E0EDF2;
                width: 100%;
                padding: 50px 10px 50px;
                box-sizing: border-box;

                .latest_product_news_container {
                    width: 100%;

                    .latest_product_news_title {
                        width: 100%;
                        font-size: 17px;
                        line-height: 17px;

                        .more_watching {
                            font-size: 13px;
                            gap: 5px;
                        }
                    }

                    .latest_product_news_items_section_container {
                        width: 100%;
                        /* 현재 보이는 화면 크기 전체를 의미 */
                        overflow: auto;

                        /* 원래 크기를 보여지는 화면만큼만보여지게 하면서 아래 스크롤 생기는 거 */
                        .latest_product_news_items_section {
                            padding: initial;
                            /* 패딩을 완전 초기화*/
                            width: 700px;
                            /*여기 크기는 원래 크기대로 모두 유지해주도록 해야 한다. 원래 가로 223px * 3을 오게 할 수 있지만 박스 하나가 적어서 커지므로 일부러 그보다 작은 걸로 줄였다.*/
                            display: inline-flex;
                            /*크기를 그 자체로 유지해주는 거*/
                            // justify-content: space-between;
                            gap: 10px;


                            .latest_product_news_item {
                                width: 223px;
                                height: 277px;
                                background-color: #fff;
                                border-radius: 10px;
                                // :nth-child(1){
                                //     visibility:hidden;
                                // }



                                .latest_product_news_item_img {

                                    width: 223px;
                                    height: initial;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .latest_product_news_item_title {

                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 16px;
                                    display: block;
                                    /* padding-top: 18px; */
                                    padding-left: 20px;

                                }
                            }
                        }
                    }

                    .latest_product_news_items_section_container::-webkit-scrollbar {
                        display: none;
                        /* Chrome, Safari, Opera */
                    }

                    .latest_product_bar_section {
                        margin-top: 40px;
                        padding-left: initial;

                        .latest_product_whole_bar {
                            width: 100%;
                            height: 7px;
                            background-color: #CFD8DC;
                            border-radius: 30px;

                            .latest_product_selection_bar {
                                width: 222px;
                                height: 7px;
                                background-color: #B5B5B5;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
        }

        .customer_support_section {
            // display: none !important;

            padding: 50px 10px 50px;
            box-sizing: border-box;

            .customer_support_item {
                padding: initial;
                width: 100%;

                .customer_support_section_title {
                    font-size: 17px;
                    font-weight: 700;

                    .more_watching {
                        font-size: 13px;
                        gap: 5px;

                    }
                }

                .customer_support_section_information_section {
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    gap: 19px;
                    margin-top: 40px;

                    .customer_support_information {
                        width: 100%;
                        background-color: #E9F0F3;
                        display: block;
                        padding: 20px 0 20px;
                        text-align: center;

                        // box-shadow: 0px 4px 4px rgba($color: #9A8E8E, $alpha: 0.3);

                        .customer_support_information_part {
                            padding-bottom: 15px;

                            .customer_support_information_part_content {}
                        }
                    }


                    .customer_support_asking {
                        flex: 1;

                        .customer_support_asking_content {
                            background-color: #E9F0F3;
                            width: 100%;
                            height: 77px;
                            border-radius: 10px;
                            margin-top: 10px;
                            text-align: center;

                            // box-shadow: 0px 4px 4px rgba($color: #9A8E8E, $alpha: 0.3);
                            font-size: 11px;
                            font-weight: 600;
                        }

                        .customer_support_asking_content:nth-child(1) {
                            margin-top: 0px;
                        }
                        .customer_support_asking_content:hover{
                            background-color: #92d0eb;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        // display: none !important;

        .bottom_navigation {
            display: flex;
            justify-content: center;
            padding: 0px 10px 50px;

            .bottom_navigation_section {


                width: 948px;
                border-top: 1px solid #E5E9EB;
                border-bottom: 1px solid #E5E9EB;
                padding-top: 100px;
                padding-bottom: 100px;
                box-sizing: border-box;

                .bottom_navigation_item_section {

                    display: block;

                    .bottom_navigation_item {
                        border-bottom: 1px solid #9A8E8E;
                        border-radius: 5px;

                        .bottom_navigation_item_title {
                            width: 100%;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 15px;
                            display: flex;
                            justify-content: space-between;

                            div {

                                padding-left: 20px;
                                // padding-top: 15px;
                                // padding-bottom: 15px;
                                display: flex;
                                height: 56px;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;

                            }

                            img {
                                display: block;
                                padding-right: 20px;
                            }
                        }

                        .bottom_navigation_item_list {
                            margin-top: 15px;
                            display: none;

                            li {
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: -0.25px;
                                line-height: 26px;
                            }
                        }
                    }

                    .bottom_navigation_item:nth-child(1) {
                        border-top: 1px solid #9A8E8E;
                        ;
                    }
                }
            }
        }

        .copyright {
            display: flex;
            justify-content: center;

            .copyright_section {
                font-size: 12px;
                font-weight: 500;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 50px 0;
                box-sizing: border-box;

                .copyright_desc_list {
                    margin-top: 16px;
                    display: block;
                    text-align: center;

                    li {
                        margin-bottom: 5px;
                    }

                    // padding-left: calc(474px - 286px); justify-content: center;를 사용할 수 없을 때 사용하는 거다.

                }

                .copyright_desc {
                    width: 80%;
                    text-align: center;
                }

                div {
                    margin-top: 16px;

                    .copyright_information_watching_moving {
                        display: flex;
                        gap: 7px;
                    }

                }
            }
        }

        .address {
            display: flex;
            justify-content: center;

            .address_section {
                font-size: 11px;
                font-weight: 500;
                line-height: 21px;
                display: block;

                width: 100%;
                padding: 0px 10px 60px;
                box-sizing: border-box;

                .address_informtaion {
                    width: 100%;
                    padding-bottom: 60px;
                    text-align: left;
                }

            }
        }


    }

}