@media (max-width: 600px) {

    .header {
        padding-top: 56px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        .header_container {
            width: 370px;
            position: relative;

            // overflow: auto; (넘쳐 흐르는 거 안보이게 하는 거)
            // width: 360px;
            .logo_section {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 29px;
                height: 29px;

                img {
                    width: 100%;
                }

            }

            .search_section {

                .search_info {
                    width: 100%;
                    height: 49px;
                    border-radius: 50px;
                    border: 1px solid #0096D6;
                    font-size: 14px;
                    font-weight: 500;

                    input {
                        border: none;
                        // padding-top: 16px;
                        margin-left: 59px;
                        box-sizing: border-box;
                    }

                    .glasses_section {
                        width: 45px;
                        height: 20px;

                        img {
                            width: 100%;
                        }

                        ;
                    }
                }


            }

            .menu {
                display: none;
            }
        }

        .menu_bar {
            display: none;
        }


    }

    .main_img_section {
        margin-top: 16px;
        height: 171px;

        .main_img_title_sectioin {
            position: absolute;
            top: 48px;
            left: 15px;
            width: initial;
            .main_img_title_1 {
                font-size: 10px;
                font-weight: 800;
                line-height: 10px;
            }

            .main_img_title_2 {
                margin-top: 10px;
                font-size: 11px;
                font-weight: 900;
                line-height: 11px;

            }

        }

        .main_img_arrow {
            display: none;
        }

        .main_img {

            img {
                height: 171px;
            }
        }

        .main_img_order_mobile {
            display: block;
            margin-top: 11px;
            position: absolute;
            bottom: 11px;

            display: flex;
            justify-content: center;
            gap: 6px;

            li {
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #fff;
            }

        }
    }


    // }
    .body_contents {

        .recommend {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: initial;

            .recommend_section {


                .recommend_selection {
                    width: 100%;
                    padding-top: 53px;
                    padding-bottom: 51px;

                    .recommend_title {
                        font-size: 17px;
                        width: 100%;
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
                        .more_watching {
                            font-size: 14px;
                            // font-weight: 500;
                            // color: #989898;
                            // display: flex;
                            // gap: 12px;
                        }
                    }

                    .recommend_menu {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        overflow: hidden;
                        gap: 5px;
                        .rc_item {
                            width: 90px;

                            .rc_img_section {
                                width: 61px;
                                height: 40px;
                                border-radius: 20px;
                                border: 2px solid #E8E8E8;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 40px;
                                background-color: #fff;

                                .rc_img {
                                    width: 34px;
                                    height: 26px;

                                    img {
                                        width: 100%;
                                    }

                                }
                            }

                            .rc_item_title {
                                margin-top: 3px;
                                text-align: center;
                                font-size: 11px;
                                font-weight: 500;
                            }

                        }
                    }

                    .recommend_selection_item_sectioin {
                        width: 100%;
                        // margin-top: 33px;
                        // display: flex;
                        // gap: 20px;
                        flex-direction: column;
                        gap: initial;
                        .recommend_selection_item {
                            // width: 327px;
                            height: initial;
                            width: 100%;
                            background-color: #fff;
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-bottom: 25px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            border-bottom: 1px solid #d3d3d3;

                            .rc_selection_number {
                                font-size: 15px;
                                font-weight: 700;
                            }

                            .rc_img_contents_container {
                                display: flex;
                                padding-left: 15px;
                                padding-top: 10px;

                                .rc_selection_img {
                                    margin-top: 0px;
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    height: 159PX;

                                    img {
                                        width: 69px;
                                    }
                                }

                                .rc_selection_contents {
                                    margin-left: 25px;

                                    .rc_selection_contents_title {
                                        font-size: 14px;
                                        font-weight: 900;
                                    }

                                    .rc_selection_contents_content {
                                        margin-top: 11px;
                                        font-size: 12px;
                                        font-weight: 500;
                                    }

                                    .rc_selection_contents_price_section {
                                        margin-top: 11px;
                                        display: flex;
                                        gap: 5px;
                                        color: #FF0000;

                                        .rc_selection_contents_price_percent {

                                            font-size: 13px;
                                            font-weight: 500;
                                        }

                                        .rc_selection_contents_price {

                                            font-size: 13px;
                                            font-weight: 900;
                                        }
                                    }
                                }
                            }
                        }

                        .btn_more {
                            display: block;

                        }
                    }

                    .bar_section {
                        display: none;
                        margin-top: 25px;

                        .whole_bar {
                            width: 951px;
                            height: 8px;
                            background-color: #CFD8DC;
                            border-radius: 22px;

                            .selection_bar {

                                width: 358px;
                                height: 8px;
                                background-color: #8FD2EE;
                                border-radius: 22px;
                            }
                        }


                    }

                    .rc_button_section {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        .rc_btn_more {
                            display: block;
                            height: 40px;
                            font-size: 14px;
                            padding: 0 24px 0 24px;
                            margin: 24px auto 0 auto;
                            border: 1px solid #000;
                            border-radius: 30px;
                            font-weight: 700;
                        }
                    }

                }
            }


        }

        .various_benefits {
           display: none;

            .various_benefits_section {
                width: 100%;
                padding-top: initial;
                padding-bottom: 31px;
                .various_benefits__container {
                    width: 100%;
                    .various_benefits_title {
                        font-size: 17px;

                        .more_watching {
                        font-size: 13px;
                        font-weight: 500;
                        color: #989898;
                        display: flex;
                        gap: 12px;
                        }
                    }

                    .various_benefits_selection {
                        width: 100%;
                        overflow: auto;

                        .various_benefits_item {
                            .various_benefits_img_section {


                                img {
                                    width: 100%;
                                }

                            }

                            .various_benefits_item_title {
                                font-size: 15px;
                                margin-top: 5px;
                            }
                        }
                    }

                    .various_benefits_bar_section {
                        margin-top: 13px;

                        .various_benefits_whole_bar {
                            width: 100%;
                            height: 7px;
                            background-color: #E5E5E5;
                            border-radius: 30px;
                            .various_benefits_selection_bar {
                                width: 109px;
                                height: 7px;
                                background-color: #B5B5B5;
                                border-radius: 30px;
    
                            }
                        }
                    }

                }
            }
        }

        .Banner {
            
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            .banner_section {
                display: flex;
                justify-content: center;
                width: 100%;
                

                img {
                    width: 100%;
                    border-radius: 5px;
                }

            }
        }


        .Promotion {
            
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            .promotion_section {
                
                width: 948px;
                padding-top: 100px;
                padding-bottom: 110px;

                .promotion_title {
                    font-size: 21px;
                    font-weight: 700;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .more_watching {
                        font-size: 14px;
                        font-weight: 500;
                        color: #989898;
                        display: flex;
                        gap: 12px;
                    }
                }

                .promotion_img_section {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 40px;
                    width: 948px;

                    .promotion_img_item {
                        width: 465.5px;


                        img {
                            width: 100%;
                        }

                    }

                    .promotion_img_item {
                        .promotion_img_item_right {
                            display: flex;
                            gap: 30px;
                            height: 175px;
                            padding-top: 30px;
                            padding-left: 30px;
                            padding-right: 30px;
                            padding-bottom: 30px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            box-shadow: 5px 5px 8.5px #E0EDF2;

                            .promotion_img_item_right_img {
                                width: 150px;

                                img {
                                    width: 100%;
                                }
                            }



                            img {}

                            .promotion_item_contents {
                                text-align: right;

                                .pr_i_con_title {
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 26px;
                                    letter-spacing: -0.25px;
                                }

                                .pr_i_con_original_price {
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 26px;
                                }

                                .pr_i_con_sale_rate {
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 26px;
                                }

                                .pr_i_con_sale_price {
                                    font-size: 16px;
                                    font-weight: 800;
                                    line-height: 26px;
                                    color: #FF0000;

                                }
                            }
                        }
                    }

                }
            }
        }

        .LatestProductNews {
            display: none !important;

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E0EDF2;
            padding-top: 100px;
            padding-bottom: 100px;

            .latest_product_news_section {


                .latest_product_news_title {
                    font-size: 21px;
                    font-weight: 700;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .more_watching {
                        font-size: 14px;
                        font-weight: 500;
                        color: #989898;
                        display: flex;
                        gap: 12px;
                    }
                }



                .latest_product_news_items_section {
                    margin-top: 39px;
                    display: flex;
                    width: 948px;
                    gap: 19px;
                    padding-left: 240px;
                    box-sizing: border-box;



                    .latest_product_news_item {
                        width: 223px;
                        height: 277px;
                        background-color: #fff;
                        border-radius: 10px;
                        // :nth-child(1){
                        //     visibility:hidden;
                        // }



                        .latest_product_news_item_img {


                            width: 223px;
                            height: 223px;

                            img {
                                width: 100%;
                            }
                        }

                        .latest_product_news_item_title {

                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            padding-top: 18px;
                            padding-left: 20.5px;
                        }
                    }
                }

                .latest_product_bar_section {
                    margin-top: 40px;
                    padding-left: 240px;

                    .latest_product_whole_bar {
                        width: 709px;
                        height: 8px;
                        background-color: #CFD8DC;
                        border-radius: 22px;

                        .latest_product_selection_bar {
                            width: 222px;
                            height: 8px;
                            background-color: #8FD2EE;
                            border-radius: 22px;
                        }
                    }
                }
            }
        }

        .customer_support_section {
            display: none !important;
            display: flex;
            justify-content: center;
            align-items: center;

            .customer_support_item {
                padding-top: 100px;
                padding-bottom: 163px;
                box-sizing: border-box;
                width: 948px;

                .customer_support_section_title {
                    font-size: 21px;
                    font-weight: 700;
                }

                .customer_support_section_information_section {
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    gap: 19px;
                    margin-top: 40px;

                    .customer_support_information {
                        width: 708px;
                        background-color: #E9F0F3;
                        display: flex;
                        justify-content: space-between;
                        flex: 1;
                        align-items: center;
                        padding-left: 45px;
                        padding-right: 45px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba($color: #9A8E8E, $alpha: 0.25);

                        .customer_support_information_part {

                            .customer_support_information_part_content {}
                        }
                    }


                    .customer_support_asking {
                        .customer_support_asking_content {
                            background-color: #E9F0F3;
                            width: 223px;
                            height: 33px;
                            border-radius: 10px;
                            margin-top: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 4px 4px rgba($color: #9A8E8E, $alpha: 0.5);

                        }

                        .customer_support_asking_content:nth-child(1) {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        display: none;

        .bottom_navigation {
            display: flex;
            justify-content: center;

            .bottom_navigation_section {


                width: 948px;
                border-top: 1px solid #E5E9EB;
                border-bottom: 1px solid #E5E9EB;
                padding-top: 100px;
                padding-bottom: 100px;
                box-sizing: border-box;

                .bottom_navigation_item_section {

                    display: flex;
                    justify-content: space-between;
                    flex: 1;

                    .bottom_navigation_item {
                        .bottom_navigation_item_title {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 26px;

                        }

                        .bottom_navigation_item_list {
                            margin-top: 15px;

                            li {
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: -0.25px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            display: flex;
            justify-content: center;

            .copyright_section {
                font-size: 12px;
                font-weight: 500;
                width: 948px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 50px;
                padding-bottom: 50px;
                box-sizing: border-box;

                .copyright_desc_list {
                    margin-top: 16px;
                    display: flex;
                    gap: 39px;

                    // padding-left: calc(474px - 286px); justify-content: center;를 사용할 수 없을 때 사용하는 거다.

                }

                div {
                    margin-top: 16px;

                    .copyright_information_watching_moving {
                        display: flex;
                        gap: 11.25px;
                    }

                }
            }
        }

        .address {
            display: flex;
            justify-content: center;

            .address_section {
                font-size: 11px;
                font-weight: 500;
                line-height: 21px;
                display: flex;
                gap: 60px;
                width: 948PX;
                padding-top: 20px;
                padding-bottom: 142px;
                box-sizing: border-box;

                .address_informtaion {
                    width: 276.33px;
                }

            }
        }


    }

}