@charset "UTF-8";
@media (max-width: 600px) {
  .header {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .header .header_container {
    width: 370px;
    position: relative;
  }
  .header .header_container .iphon_upper_img {
    display: none;
  }
  .header .header_container .logo_section {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 29px;
    height: 29px;
  }
  .header .header_container .logo_section img {
    width: 100%;
  }
  .header .header_container .search_section .search_info {
    width: 100%;
    height: 49px;
    border-radius: 50px;
    border: 1px solid #0096D6;
    font-size: 14px;
    font-weight: 500;
  }
  .header .header_container .search_section .search_info input {
    border: none;
    margin-left: 49px;
    box-sizing: border-box;
  }
  .header .header_container .search_section .search_info .glasses_section {
    width: 45px;
    height: 20px;
    padding-top: initial;
  }
  .header .header_container .search_section .search_info .glasses_section img {
    width: 100%;
  }
  .header .header_container .menu {
    display: none;
  }
  .header .menu_bar {
    display: none;
  }
  .main_img_section {
    margin-top: 16px;
    height: 171px;
  }
  .main_img_section .main_img_title_sectioin {
    position: absolute;
    top: 48px;
    left: 15px;
    width: initial;
  }
  .main_img_section .main_img_title_sectioin .main_img_title_1 {
    font-size: 13px;
    font-weight: 800;
    line-height: 10px;
  }
  .main_img_section .main_img_title_sectioin .main_img_title_2 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 900;
    line-height: 11px;
  }
  .main_img_section .main_img_arrow {
    display: none;
  }
  .main_img_section .main_img img {
    height: 171px;
  }
  .main_img_section .main_img_order_mobile {
    display: block;
    margin-top: 11px;
    position: absolute;
    bottom: 11px;
    display: flex;
    justify-content: center;
    gap: 6px;
  }
  .main_img_section .main_img_order_mobile li {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
  }
  .body_contents .recommend {
    display: block;
    background-color: initial;
  }
  .body_contents .recommend .recommend_section {
    padding: 50px 10px 50px;
  }
  .body_contents .recommend .recommend_section .recommend_selection {
    width: 100%;
    padding: initial;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_title {
    font-size: 17px;
    width: 100%;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_title .rc_more_watching {
    font-size: 13px;
    gap: 5px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container {
    width: 100%;
    overflow: auto;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item {
    width: 61px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item .rc_img_section {
    width: 61px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #fff;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item .rc_img_section .rc_img {
    width: 34px;
    height: 26px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item .rc_img_section .rc_img img {
    width: 100%;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item .rc_img_section:hover {
    background-color: #98d8f1;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container .recommend_menu .rc_item .rc_item_title {
    margin-top: 3px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #363636;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_menu_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin {
    width: 100%;
    flex-direction: column;
    gap: initial;
    padding: initial;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item {
    height: initial;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 1px solid #d3d3d3;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_selection_number {
    font-size: 15px;
    font-weight: 700;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container {
    display: flex;
    padding-left: 15px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_img {
    margin-top: 0px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: initial;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_img img {
    width: 100%;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents {
    margin-left: 25px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_title {
    margin-top: 11px;
    font-size: 14px;
    font-weight: 700;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_content {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 500;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section {
    margin-top: 11px;
    display: flex;
    gap: 5px;
    color: #FF0000;
    font-size: 13px;
    line-height: 13px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section .rc_selection_contents_price_percent {
    font-weight: 500;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .recommend_selection_item .rc_img_contents_container .rc_selection_contents .rc_selection_contents_price_section .rc_selection_contents_price {
    font-weight: 900;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item_sectioin .btn_more {
    display: block;
  }
  .body_contents .recommend .recommend_section .recommend_selection .recommend_selection_item:nth-child(5) {
    display: block;
  }
  .body_contents .recommend .recommend_section .recommend_selection .rc_bar_section {
    display: none;
  }
  .body_contents .recommend .recommend_section .recommend_selection .rc_bar_section .rc_whole_bar {
    width: 100%;
  }
  .body_contents .recommend .recommend_section .recommend_selection .rc_bar_section .rc_whole_bar .rc_selection_bar {
    width: initial;
  }
  .body_contents .recommend .recommend_section .recommend_selection .rc_button_section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .body_contents .recommend .recommend_section .recommend_selection .rc_button_section .rc_btn_more {
    display: block;
    height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;
    margin: 24px auto 0 auto;
    border: 1px solid #000;
    border-radius: 30px;
    font-weight: 700;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .body_contents .various_benefits .various_benefits_section {
    width: 100%;
    padding: 0px 10px 50px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container {
    width: 100%;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_title {
    font-size: 17px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_title .more_watching {
    font-size: 13px;
    font-weight: 500;
    color: #989898;
    display: flex;
    gap: 5px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_selection_container {
    width: 100%;
    overflow: auto;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_selection_container .various_benefits_selection {
    width: 100%;
    display: inline-flex;
    gap: 10px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_selection_container .various_benefits_selection .various_benefits_item .various_benefits_img_section img {
    width: 100%;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_selection_container .various_benefits_selection .various_benefits_item .various_benefits_item_title {
    font-size: 15px;
    line-height: 15px;
    margin-top: 15px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_selection_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_bar_section {
    margin-top: 30px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_bar_section .various_benefits_whole_bar {
    width: 100%;
    height: 7px;
    background-color: #E5E5E5;
    border-radius: 30px;
  }
  .body_contents .various_benefits .various_benefits_section .various_benefits__container .various_benefits_bar_section .various_benefits_whole_bar .various_benefits_selection_bar {
    width: 109px;
    height: 7px;
    background-color: #B5B5B5;
    border-radius: 30px;
  }
  .body_contents .Banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body_contents .Banner .banner_section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0;
  }
  .body_contents .Banner .banner_section img {
    width: 100%;
    border-radius: 5px;
  }
  .body_contents .Promotion .promotion_section {
    width: 100%;
    padding: 50px 10px 50px;
    box-sizing: border-box;
  }
  .body_contents .Promotion .promotion_section .promotion_title {
    font-size: 17px;
    font-weight: 700;
  }
  .body_contents .Promotion .promotion_section .promotion_title .more_watching {
    font-size: 13px;
    font-weight: 500;
    color: #989898;
    display: flex;
    gap: 5px;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section {
    display: block;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item {
    width: 100%;
    border-radius: 10px;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item img {
    width: 100%;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_img_item_right_img {
    width: 70%;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_img_item_right_img img {
    width: 100%;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_item_contents {
    text-align: right;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_item_contents .pr_i_con_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.25px;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_item_contents .pr_i_con_original_price {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_item_contents .pr_i_con_sale_rate {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
  }
  .body_contents .Promotion .promotion_section .promotion_img_section .promotion_img_item .promotion_img_item_right .promotion_item_contents .pr_i_con_sale_price {
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #FF0000;
  }
  .body_contents .LatestProductNews {
    padding: initial;
  }
  .body_contents .LatestProductNews .latest_product_news_section {
    background-color: #E0EDF2;
    width: 100%;
    padding: 50px 10px 50px;
    box-sizing: border-box;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container {
    width: 100%;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_title {
    width: 100%;
    font-size: 17px;
    line-height: 17px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_title .more_watching {
    font-size: 13px;
    gap: 5px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container {
    width: 100%; /* 현재 보이는 화면 크기 전체를 의미 */
    overflow: auto; /* 원래 크기를 보여지는 화면만큼만보여지게 하면서 아래 스크롤 생기는 거 */
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container .latest_product_news_items_section {
    padding: initial; /* 패딩을 완전 초기화*/
    width: 700px; /*여기 크기는 원래 크기대로 모두 유지해주도록 해야 한다. 원래 가로 223px * 3을 오게 할 수 있지만 박스 하나가 적어서 커지므로 일부러 그보다 작은 걸로 줄였다.*/
    display: inline-flex; /*크기를 그 자체로 유지해주는 거*/
    gap: 10px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container .latest_product_news_items_section .latest_product_news_item {
    width: 223px;
    height: 277px;
    background-color: #fff;
    border-radius: 10px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container .latest_product_news_items_section .latest_product_news_item .latest_product_news_item_img {
    width: 223px;
    height: initial;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container .latest_product_news_items_section .latest_product_news_item .latest_product_news_item_img img {
    width: 100%;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container .latest_product_news_items_section .latest_product_news_item .latest_product_news_item_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: block;
    /* padding-top: 18px; */
    padding-left: 20px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_news_items_section_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_bar_section {
    margin-top: 40px;
    padding-left: initial;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_bar_section .latest_product_whole_bar {
    width: 100%;
    height: 7px;
    background-color: #CFD8DC;
    border-radius: 30px;
  }
  .body_contents .LatestProductNews .latest_product_news_section .latest_product_news_container .latest_product_bar_section .latest_product_whole_bar .latest_product_selection_bar {
    width: 222px;
    height: 7px;
    background-color: #B5B5B5;
    border-radius: 30px;
  }
  .body_contents .customer_support_section {
    padding: 50px 10px 50px;
    box-sizing: border-box;
  }
  .body_contents .customer_support_section .customer_support_item {
    padding: initial;
    width: 100%;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_title {
    font-size: 17px;
    font-weight: 700;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_title .more_watching {
    font-size: 13px;
    gap: 5px;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    gap: 19px;
    margin-top: 40px;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section .customer_support_information {
    width: 100%;
    background-color: #E9F0F3;
    display: block;
    padding: 20px 0 20px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(154, 142, 142, 0.3);
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section .customer_support_information .customer_support_information_part {
    padding-bottom: 15px;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section .customer_support_asking {
    flex: 1;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section .customer_support_asking .customer_support_asking_content {
    background-color: #E9F0F3;
    width: 100%;
    height: 77px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(154, 142, 142, 0.3);
    font-size: 11px;
    font-weight: 600;
  }
  .body_contents .customer_support_section .customer_support_item .customer_support_section_information_section .customer_support_asking .customer_support_asking_content:nth-child(1) {
    margin-top: 0px;
  }
  .bottom .bottom_navigation {
    display: flex;
    justify-content: center;
    padding: 0px 10px 50px;
  }
  .bottom .bottom_navigation .bottom_navigation_section {
    width: 948px;
    border-top: 1px solid #E5E9EB;
    border-bottom: 1px solid #E5E9EB;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section {
    display: block;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item {
    border-bottom: 1px solid #9A8E8E;
    border-radius: 5px;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item .bottom_navigation_item_title {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item .bottom_navigation_item_title div {
    padding-left: 20px;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item .bottom_navigation_item_title img {
    display: block;
    padding-right: 20px;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item .bottom_navigation_item_list {
    margin-top: 15px;
    display: none;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item .bottom_navigation_item_list li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: 26px;
  }
  .bottom .bottom_navigation .bottom_navigation_section .bottom_navigation_item_section .bottom_navigation_item:nth-child(1) {
    border-top: 1px solid #9A8E8E;
  }
  .bottom .copyright {
    display: flex;
    justify-content: center;
  }
  .bottom .copyright .copyright_section {
    font-size: 12px;
    font-weight: 500;
    width: 948px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .bottom .copyright .copyright_section .copyright_desc_list {
    margin-top: 16px;
    display: block;
    text-align: center;
  }
  .bottom .copyright .copyright_section .copyright_desc_list li {
    margin-bottom: 5px;
  }
  .bottom .copyright .copyright_section .copyright_desc {
    width: 80%;
    text-align: center;
  }
  .bottom .copyright .copyright_section div {
    margin-top: 16px;
  }
  .bottom .copyright .copyright_section div .copyright_information_watching_moving {
    display: flex;
    gap: 7px;
  }
  .bottom .address {
    display: flex;
    justify-content: center;
  }
  .bottom .address .address_section {
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    display: block;
    width: 100%;
    padding: 0px 30px 60px;
    box-sizing: border-box;
  }
  .bottom .address .address_section .address_informtaion {
    width: 100%;
    padding-bottom: 60px;
    text-align: left;
  }
}/*# sourceMappingURL=portfolio_mobile.css.map */